@charset "UTF-8";

/*--------------------------------------------------------------

>>> TABLE OF CONTENTS:

----------------------------------------------------------------

1.0 - Typography

1.2 - Colors

1.3 - Buttons

1.5 - Tables 

1.6 - Forms 

2.0 - Navigation Menus

2.1 - Footer

3.1 - Site Structure


--------------------------------------------------------------*/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

/* 1.0 Typography */

#bg-home h1 {
	font-family: 'Encode Sans Condensed', sans-serif;
	font-size: 55px;

}

h1, .btn, h3, nav ul, #bg-home p {
	text-transform: uppercase; 
}

#bg-home h1, #bg-home p {
	text-align: center
}


img[src="img/header-bg.jpg"] + p {
	font-size: 30px;
}

h1 {
	font: normal lighter 45px 'Montserrat';
	letter-spacing: 6px;
}

#about-me p {
	font: normal 12px/18px 'Montserrat';
	margin-right: 300px
}

h3 a, h3 {
	text-decoration: none;
}

h3 {
	color: #000;
}

nav a:hover {
	color: #878384;
}
 
/* 1.2 Colors */

h3, .btn, nav a, h3 a, footer p  {
	color: #000;
}

h3 a:hover, .btn:hover {
	color: #5b5b5b;
}


/* 1.3 Buttons */


.btn, .btn:hover {
	padding: 8px 20px;
	border: 1px solid;
}

/* 1.6 Forms */

input, label, textarea {
	display: block;
}

input[type="email"], input[type="hear"] {
	width: 100%;
}

fieldset {
	border: none;
}

legend {
	font-size: 18px;
}

input {
	width: 300px;
}

form {
	width: 650px;
}

label {
	margin-bottom: 10px;
}

input, textarea {
	margin-bottom: 20px;
}

#contact p {
	margin-bottom: 45px;
}

/* 2.0 Navigation */ 

nav li {
	display: inline-block;
	margin-right: 30px;

}


/* 2.1 Footer */

footer {
	background-color: #dfb093;
	margin-top: 100px;
}

footer p {
	font-size: 12px;
}

footer span {
	display: none;
}

footer ul {
	list-style: none;
}

footer ul li a:first-child {
	width: 20px;
	height: 20px;
	background: url(images/icon-insta.png) no-repeat;
}

footer ul li a:nth-child(2) {
	width: 30px;
	background: url(images/icon-fb.png) no-repeat;
}

footer ul li a:last-child {
	width: 130px;
	background: url(images/icon-twitter.png) no-repeat;
}

/* 3.1 Site Structure */

.row {
	overflow: auto; 
}

.wrapper {
	width: 1024px;
	margin: 0 auto;
}

.f-left {
	float: left;
}

.f-right {
	float: right;
}

#feya, #feya-image  {
	width: 480px;
}

#feya p {
	line-height: 21px;
}

#about-me img:last-child {
	margin-right: 28px;
}


img[src="img/photography.jpg"] {
	margin: 0 auto;
}

#about  {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

#about p:first-child {
	margin-top: 30px;
}

#about p:last-child {
	margin-bottom: 30px;
}


.btn, nav a, nav a:hover {
	text-decoration: none;

}


















